#form {
  width: 24em;
  height: 19em;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 12px;
  text-align: center;
  padding-top: 10em;
  margin-top: 5em;
  box-shadow: 0.1em 0.1em 1em lightgrey;
}

img {
  float: left;
  padding: 1em 2em;
  margin-top: -9em;
  width: 6em;
  height: 4em;
}

h2 {
  float: left;
  padding: 1em 1.4em;
  margin-top: -3em;
  font-weight: 400;
}

.input-style {
  height: 2.7em;
  font-size: 1em;
  border-radius: 12px;
  border: 1.5px solid lightgray;
  padding-left: 1em;
}

.input-style:focus {
  background-color: #e8f0fe;
  border: 1px solid #000000;
  outline: none;
} 

#sign-in {
  background-color: #59abd3;
  padding: 1em 8.5em;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-top: 2em;
  cursor: pointer;
}

#sign-in:hover {
  background-color: navy; 
}

#sign-in:active {
  background-color: #59abd3;
  border: 2px solid #ffffff;
}

#log-error {
  color: red;
  font-style: italic;
  padding-right: 0em;
  padding-bottom: 1em;
}

#logout-notice {
  color: green;
  font-style: italic;
  margin-left: 50em;
  margin-top: -20em;
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

@media only screen and (max-width : 1020px) {

  #form {
    width: 19em;
    height: 14em;
  }

  img {
    float: left;
    padding: 1em 1.4em;
    margin-top: -9em;
    width: 6em;
    height: 4em;
  }
  
  h2 {
    font-weight: 400;
    font-size: 20px;
  }
  
  .input-style {
    height: 2.3em;
    width: 16em;
    font-size: 1em;
  }
  
  #sign-in {
    font-size: 15px;
    padding: 0.8em 7.5em;
    margin-top: 1em;
  }

  #navigation {
    height: 3em;
    margin: 0em 1em;
    padding-top: 1em;
  }   

  li.nav-item {
    margin: 1em;
    font-size: 10px;
    padding: 1em
  }
}
